<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.join">
    <!--android:installLocation="preferExternal"-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus"></uses-feature>
    <!--开机启动权限-->
    <!--  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 开机自启动广播接受 -->
        <!--        <receiver android:name=".receiver.AutoStartBroadcastReceiver">
                    <intent-filter android:priority="1000">

                        <action android:name="android.intent.action.BOOT_COMPLETED" />
                        <category android:name="android.intent.category.LAUNCHER"></category>
                    </intent-filter>
                </receiver>-->
        <!--欢迎界面-->
        <activity android:name=".activity.HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--选择检测员ID-->
        <activity android:name=".activity.IDSelect">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.idselect"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--主功能-->
        <activity android:name=".activity.Function">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.Function"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--精液原液准备检测-->
        <activity android:name=".activity.StosteDetectionParameter">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.StosteDetectionParameter"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--稀释精液准备检测-->
        <activity android:name=".activity.DiluentDetectionParameter">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.DiluentDetectionParameter"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--查询菜单-->
        <activity android:name=".activity.QueryFunction">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.QueryFunction"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--开始检测-->
        <activity android:name=".activity.StartDetection">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.StartDetection"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--精液原液详情结果显示-->
        <activity android:name=".activity.StosteDetectionResult">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.StosteDetectionResult"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--稀释精液详情结果显示-->
        <activity android:name=".activity.DiluentDetectionResult">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.DiluentDetectionResult"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--按ID查询-->
        <activity android:name=".activity.IDQuery">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.IDQuery"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--按日期查询-->
        <activity android:name=".activity.DateQuery">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.DateQuery"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--标准参数,系统参数设置入口-->
        <activity android:name=".activity.SystemSet">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.SystemSet"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--标准参数-->
        <activity android:name=".activity.ParameterSetting">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.ParameterSetting"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--载波片选择-->
        <activity android:name=".activity.WindowSelect">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.WindowSelect"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--wifi-->
        <activity android:name=".activity.WiFiSetting">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.WiFiSetting"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--设置亮度-->
        <activity android:name=".activity.Brightness">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.Brightness"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--设置日期,时间-->
        <activity android:name=".activity.TimeSetting">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.TimeSetting"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".service.Humidity"></service>
    </application>

</manifest>