<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.join">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>

    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--欢迎界面-->
        <activity android:name=".activity.Greet">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--选择检测员ID-->
        <activity android:name=".activity.IDSelect">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.idselect"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--主功能-->
        <activity android:name=".activity.Function">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.function"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--精液原液准备检测-->
        <activity android:name=".activity.StosteDetection">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.stostedetection"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--稀释精液准备检测-->
        <activity android:name=".activity.StosteDetectionDiluent">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.StosteDetectionDiluent"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--开始检测-->
        <activity android:name=".activity.StosteDetection1">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.stostedetection1"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--精液原液详情结果显示-->
        <activity android:name=".activity.StosteDetection2">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.stostedetection2"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--稀释精液详情结果显示-->
        <activity android:name=".activity.StosteDetection22">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.stostedetection22"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--按ID查询-->
        <activity android:name=".activity.IDQuery">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.IDQuery"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--标准参数,系统参数设置入口-->
        <activity android:name=".activity.SystemSet">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.SystemSet"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--标准参数-->
        <activity android:name=".activity.ParameterSetting">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.ParameterSetting"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--系统时间,管理员设置-->

        <activity android:name=".activity.SystemSet1">
            <intent-filter>
                //http://www.cnblogs.com/feng9exe/p/5699233.html
                <action android:name="com.join.SystemSet1"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <service android:name=".service.Humidity"></service>
    </application>

</manifest>